img{
    width: 150px;
    height: 150px;
    border-color: #000000;
    border: 3px solid;
    align-items: start;
    justify-content: space-between;
    
}

body{
    background-color: blue;
    border: 4px solid whitesmoke;
}
